  * {
      margin: 0px;
      padding: 0px;
  }

  body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
      height: 100vh;
      background-color: yellow;
  }

  .container {
      padding: 40px;
      width: 400px;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: blue;
      border: 10px solid black;
      color: orangered;
      font-weight: bold;
  }

  h1 {
      margin-bottom: 12px;
      color: red;
  }

  .input-container {
      margin-bottom: 20px;
      font-weight: bold;
  }

  label {
      display: block;
      margin-bottom: 5px;
      margin-top: 5px;
      font-weight: bold;
  }

  #submit {
      border-radius: 6px;
      margin-top: 15px;
      font-size: 16px;
      font-weight: bold;
      width: 100%;
      padding: 12px 20px;
      margin-left: 1.5px;
      background-color: red;
      color: aliceblue;
      border: none;
      cursor: pointer;
  }



  input[type='number'] {
      padding: 8px;
      width: 100%;
      border-radius: 6px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      margin-top: 5px;
  }
#submit:hover{
    background-color: orangered;
}
#result{
    text-align: center;
    color: #ccc;
    font-weight: bold ;
    margin-top: 18px;
}